@import url("reset.css");

body {
  font-family: 'Open Sans', Helvetica,Arial,sans-serif;
}
/* aCarousel 
************************/
.acarousel-wrapper {
	width: 100%;
	height: 480px;
	position: relative;
	overflow: hidden;
	margin:0 auto;
}
.acarousel-inner {
	width: 1600px;
	overflow: hidden;
}

/* aCarousel Slides 
*************************/
.acarousel-wrapper ul.slides {
	overflow: hidden;
	list-style: none;
	position:relative;
	left:0px;
}
.acarousel-wrapper ul.slides li {
	float: left;
	position: relative;
	width: 1600px;
	height: 480px;
}
/* aCarousel Slide content 
****************************/
.acarousel-wrapper ul.slides .slide-content {
  width: 500px;
  position:absolute;
  left: 10%;
  padding:10px;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
  height:100%;
}
.acarousel-wrapper  ul.slides li h2 {
	font-size: 57px;
  color: #fff;
  text-shadow: 0 1px 1px black;
  
}
.acarousel-wrapper  ul.slides li h3 {
  font-size: 17px;
  color: #ccc;
  text-shadow: 0 1px 1px black;
  padding:4px 0;
  font-weight:normal;
}
.acarousel-wrapper  ul.slides li p {
	font-size: 16px;
  color: #fff;
	text-shadow: 0 1px 1px black;
  line-height: 24px;
  padding: 10px 0;
}
.acarousel-wrapper  ul.slides li a {
	font-size: 14px;
  color: #ccc;
  text-shadow: 0 1px 1px black;
}

/* aCarousel controls */
.acarousel-prev, .acarousel-next {
	position: absolute;
	top: 50%;
	padding: 0 10px;
	background: #333333;
	-moz-border-radius: 4px; /* Firefox */  
	-webkit-border-radius: 4px; /* Safari, Chrome */  
	border-radius: 4px; /* CSS3 */  
	color: #FFFFFF;
	display: block;
	font-size: 11px;
	line-height: 70px;
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	/* Netscape */
	-moz-opacity: 0.8;
	/* Safari 1.x */
	-khtml-opacity: 0.8;
	/* Modern browsers */
	opacity: 0.8;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 1px black;
	font-size: 60px;
	transform: scale(0.5,1); /* W3C */
  -webkit-transform: scale(0.5,1); /* Safari and Chrome */
  -moz-transform: scale(0.5,1); /* Firefox */
  -ms-transform: scale(0.5,1); /* IE 9 */
  -o-transform: scale(0.5,1); /* Opera */
	text-shadow: 0 1px 1px #000;
}
.acarousel-prev:hover, .acarousel-next:hover {
	opacity: 0.9;
}
.acarousel-prev {
	left: 10px;
}
.acarousel-next {
	right: 10px;
}

/* aCarousel Dots */
.acarousel-dots {
	position: absolute;
	list-style: none;
	display: block;
	z-index: 100;
	bottom: 10px;
	left: 50%;
  
  
}
.acarousel-dots li.acarousel-dot {
	border-radius: 10px;
	background-color: #fff;
	width: 18px;
	height: 18px;
	float: left;
	margin: 0 2px;
  box-shadow: 0 1px 1px black;
  
}
.acarousel-dots li.acarousel-dot.active {
	background-color: #444;
}

/* aCarousel Slide specific content 
************************************/
/* Carousel Slide 1 */
.acarousel-wrapper  ul li.slide-1 {
	background: url('images/slide1.png') no-repeat;
}

/* Carousel Slide 2 */
.acarousel-wrapper ul.slides li.slide-2  {
	background: url('images/slide2.png') no-repeat;
}

/* Carousel Slide 3 */
.acarousel-wrapper ul.slides li.slide-3  {
	background: url('images/slide3.png') no-repeat;
}